[production staging]
last 2 Chrome version
last 2 Safari version
last 2 Firefox version
last 2 Opera version
last 2 Edge version
iOS >= 12
not dead

[development]
last 1 Chrome version
last 1 Safari version
last 1 Firefox version
